.app-header {
  position: relative;
}

.header-content {
  display: flex;
  height: 98px;
  width: 89%;
  justify-content: space-between;
  align-items: baseline;
  margin-block-end: 20px;
  padding-left: 11%;
  position: sticky;
  top: 0;
  background-color: #151e30;
  z-index: 10;

  .name {
    h2 {
      color: white;
      font-size: 50px;
      font-weight: 800;
      font-size: 40px;
      font-weight: 800;
      margin-top: 16px;
    }
  }

  .links {
    width: 26%;
    display: flex;
    justify-content: space-between;
    padding-right: 12%;

    a {
      text-decoration: none;
      color: white;
      font-size: 24px;
    }
  }
}
