<header>
  <div class="header-content">
    <div class="name">
      <h2>
        G<span [ngStyle]="{ color: '#00bee8' }">ö</span>ka<span
          [ngStyle]="{ color: '#4b47ff' }"
          >y</span
        >
      </h2>
    </div>

    <div class="burgermenu">
      <img src="assets/img/burger-menu.png" class="burger-menu d-none" (click)="showMenu()"/>
    </div>
    <div [ngClass]="{ 'links':true, 'd-none':mobileView}">
      <a [routerLink]="[]">About me</a>
      <a [routerLink]="[]">Skills</a>
      <a [routerLink]="[]">Imprint</a>
    </div>
  </div>

  <div class="menu-overview d-none"></div>
</header>
