<header>
  <div class="header-content">
    <div class="name">
      <h2>
        G<span [ngStyle]="{ color: '#00bee8' }">ö</span>ka<span
          [ngStyle]="{ color: '#4b47ff' }"
          >y</span
        >
      </h2>
    </div>

    <div
      [ngClass]="{ burgermenu: true, 'd-none': !mobileView }"
      (click)="setButton()"
      id="myButton"
    >
      <button class="menu" aria-label="Main Menu" id="headerBtn">
        <svg width="80" height="100" viewBox="0 0 100 100">
          <path
            class="line line1"
            d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
          ></path>
          <path class="line line2" d="M 20,50 H 80"></path>
          <path
            class="line line3"
            d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
          ></path>
        </svg>
      </button>
    </div>

    <div [ngClass]="{ links: true, 'd-none': mobileView }">
      <a (click)="scrollToAboutMe()">About me</a>
      <a (click)="scrollToSkills()">Skills</a>
      <a (click)="scrollToProjects()">Projekte</a>
    </div>
  </div>

  <div class="menu-overview d-none"></div>
</header>

<div
  [ngClass]="{
    'scale-in-tr': !openend,
    'slide-menu': !openend,
    'd-none': openend,
    dflex: !openend,
    'scale-out-tr': close
  }"
>
  <div [ngClass]="{ 'menu-inner': true }">
    <a
      class="scale-up-center"
      (mouseenter)="addHoverClass()"
      (mouseleave)="removeHoverClass()"
      (click)="scrollToAboutMe()"
      >About me</a
    >
    <a>(click)="scrollToAboutMeMobile()">Über mich</a>
    <a (click)="scrollToSkillsMobile()">Skills</a>
    <a (click)="scrollToProjectsMobile()">Projekte</a>
  </div>
</div>
