.app-header {
  position: relative;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #151e30;
  position: fixed;
  right: 0;
  left: 0%;
  z-index: 200;
  padding: 1% 10%;

  .name {
    h2 {
      color: white;
      font-size: 50px;
      font-weight: 800;
      margin: 0;
    }
  }

  .links {
    width: 435px;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: white;
      font-size: 27px;
    }
  }
}

.menu-overview {
  width: 100%;
  height: 100%;
  margin: 0;
  
}

.d-none {
  display: none;
}

@media (width <= 1024px) {
  .header-content .links {
    display: none;
  }
  .header-content {
    padding: 1% 7%;
  }

  .burger-menu {
    display: flex;
  }
}
