<footer id="footer">
  <div class="stripe-footer"></div>
  <div class="name" (click)="srcollTop()">
    <h1>
      G<span [ngStyle]="{ color: '#00bee8' }">ö</span>ka<span
        [ngStyle]="{ color: '#4b47ff' }"
        >y</span
      >
    </h1>
    <a [routerLink]="['imprint']">Impressum</a>
  </div>
  <div class="copyright"><span>© Gökay Sahin 2023</span></div>
  <div class="sozial">
    <div class="links">
      <a
        href="https://github.com/GoekaySahin"
        class="fotter-git"
        target="_self"
      >
        <img src="assets/img/icons/git-small.png" />
      </a>
      <!-- <img src="assets/img/icons/email.png" /> -->
      <a
        href="https://www.linkedin.com/in/g%C3%B6kay-sahin-344837288/"
        target="_self"
      >
        <img src="assets/img/icons/linkedin.png" />
      </a>
    </div>
  </div>
</footer>
