<footer>
  <div class="stripe-footer"></div>
  <div class="name">
    <h1>
      G<span [ngStyle]="{ color: '#00bee8' }">ö</span>ka<span
        [ngStyle]="{ color: '#4b47ff' }"
        >y</span
      >
    </h1>
    <a [routerLink]="">Impressum</a>
  </div>
  <div class="copyright"><span>© Gökay Sahin 2023</span></div>
  <div class="sozial">
    <div class="links">
      <a href="https://github.com/HydraCoding" class="fotter-git">
        <img src="assets/img/icons/git-small.png" />
      </a>
      <img src="assets/img/icons/email.png" />
      <img src="assets/img/icons/linkedin.png" />
    </div>
  </div>
</footer>
