footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6%;

  .stripe-footer {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 4px;
    background-color: #00bee8;
  }

  .name {
    padding-left: 216px;

    h1 {
      font-size: 48px;
      margin: 0;
    }

    a {
      margin-inline-start: 3%;
    }
  }

  .copyright {
    font-size: 21px;
    letter-spacing: 1px;
  }

  .sozial {
    padding-right: 200px;

    .links {
      width: 220px;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (width < 1920px) {
  footer .name {
    padding-left: 10%;
  }
}

@media (width <= 1300px) {
  footer {
    padding: 0 11%;
  }
  footer .name {
    padding-left: 0;
  }

  footer .sozial {
    padding-right: 00px;
  }

  footer .stripe-footer {
    padding: unset;
    left: 0;
  }
}

@media (width <= 1024px) {
  footer {
    padding: 9% 0%;
    flex-direction: column;
    align-items: center;
  }
}
