<div [ngClass]="{ 'about-me': true }" id="about_me">
  <div class="shadow2">
    <img src="assets/img/shadows/purple-shadow0.webp" alt="" />
  </div>
  <div [ngClass]="{ 'social-links': true }">
    <img [ngClass]="{ stripe1: true }" src="assets/img/icons/stripe1.webp" />
    <div class="links">
      <a href="https://github.com/goekaysahin" target="_blank">
        <img src="assets/img/icons/git-small.webp" />
      </a>
      <!-- <img src="assets/img/icons/email.webp" /> -->
      <a href="https://www.linkedin.com/in/goekaysahin/" target="_blank">
        <img src="assets/img/icons/linkedin.webp" />
      </a>
    </div>
  </div>

  <div [ngClass]="{ 'about-me-section': true }">
    <div
      [ngClass]="{
        leftside: true,
        fire_me: firefox
      }"
    >
      <h1 [ngClass]="{ fire_h1: firefox }">Über mich</h1>
      <div [ngClass]="{ 'upper-part': true }">
        <span>
          Hallo, schön das Sie hier sind!<br />
          Ich heiße Gökay und bin Webentwickler mit Erfahrungen im Aufbau von
          Applikationen basierend auf JavaScript und Angular.</span
        >
        <br />
        <div [ngClass]="{ blub: true, fire_blub: firefox }">
          <img
            [ngClass]="{ fire_icons: firefox }"
            src="assets/img/icons/bulb-desktop.webp"
          />
          <span
            >Gerne würde ich Sie und Ihr Team dabei ünterstützen Optimierte
            Font-End Lösungen für Sie oder für Ihre Kunden zu entwickeln.</span
          >
        </div>

        <div [ngClass]="{ blub: true, fire_blub: firefox }">
          <img
            [ngStyle]="{
              'padding-left.px': '4'
            }"
            src="assets/img/icons/puzzle.webp"
            [ngClass]="{ fire_icons: firefox }"
          />
          <span
            >Mit einer Strukturierten Arbeitsweise und einer hohen Anforderung
            an mich selbst realisierte ich die Projekte selbständig oder
            zusammen im Team.
          </span>
        </div>
      </div>
      <div [ngClass]="{ 'lower-part': true }"></div>
    </div>
    <div
      [ngClass]="{
        rightside: true,
        dnone: mobileView || !comeDown,
        'slide-in-left': !mobileView && comeDown
      }"
    >
      <div class="about-me-face">
        <img src="assets/img/icons/goekay2.webp" />
      </div>
      <img class="stripe2" src="assets/img/icons/stripe2.webp" />
    </div>
  </div>
</div>
