<div [ngClass]="{ 'about-me': true }">
  <div class="shadow2">
    <img src="assets/img/shadows/purple-shadow0.png" alt="" />
  </div>
  <div [ngClass]="{ 'social-links': true }">
    <img [ngClass]="{ stripe1: true }" src="assets/img/icons/stripe1.png" />
    <div class="links">
      <img src="assets/img/icons/git-small.png" />
      <img src="assets/img/icons/email.png" />
      <img src="assets/img/icons/linkedin.png" />
    </div>
  </div>

  <div [ngClass]="{ 'about-me-section': true }">
    <div [ngClass]="{ leftside: true }">
      <h1>About me</h1>
      <div [ngClass]="{ 'upper-part': true }">
        <span>
          Hallo, schön das Sie hier sind!<br />
          Ich heiße Gökay und bin Webentwickler mit Erfahrungen im Aufbau von
          Applikationen basierend auf JavaScript und Angular.</span
        >
        <br />
        <div class="blub">
          <img src="assets/img/icons/bulb-desktop.png" />
          <span
            >Gerne würde ich Sie und Ihre Team dabei ünterstützen Optimierte
            Font-End Lösungen für Sie oder für Ihre Kunden zu entwickeln.</span
          >
        </div>

        <div class="blub">
          <img
            [ngStyle]="{ 'padding-left.px': '4' }"
            src="assets/img/icons/puzzle.png"
          />
          <span
            >Mit einer Strukturierte Denkweise und einer hohen anforderung an
            mich selbst realisierte ich die Projekte Selbständig oder zusammen
            im Team.
          </span>
        </div>
      </div>
      <div [ngClass]="{ 'lower-part': true }"></div>
    </div>
    <div [ngClass]="{ rightside: true, dnone: mobileView }">
      <div class="about-me-face">
        <img src="assets/img/icons/testguy.png" />
      </div>
      <img class="stripe2" src="assets/img/icons/stripe2.png" />
    </div>
  </div>
</div>
