.about-me {
  position: relative;
  width: 92%;
  margin-left: 8.5%;
  top: 5%;
  padding-top: 3vh;
  height: 78%;
}

.stripe1 {
  position: absolute;
  left: -12vw;
  top: 4vh;
  width: 12vw;
  height: 5px;
}

.shadow2 {
  position: absolute;
  max-width: 19vw;
  overflow: hidden;
  right: 0px;
  top: -19vh;
}

.links {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.about-me-section {
  margin-top: 16%;
  padding-left: 1vw;
  display: flex;

  .leftside {
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-block: -40px;
    margin-inline: 1vw;

    .upper-part {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 31vh;
      width: 27vw;
    }

    h1 {
      font-size: 100px;
      font-weight: 700;
      margin-bottom: 1vh;
      margin-top: 0;
    }

    .blub {
      display: flex;
      justify-content: space-between;
      width: 24vw;
      padding-top: 2vh;
      padding-bottom: 2vh;
      padding-left: 3vw;

      span {
        width: 77%;
      }

      img {
        object-fit: contain;
      }
    }
  }

  .rightside {
    width: 54%;
    position: absolute;
    right: 0;
    height: 81%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-block-start: -2%;

    .about-me-face {
      border-radius: 100%;
      border-radius: 100%;
      width: 75%;
      height: 96%;
      display: flex;
      justify-content: center;
      border: 4px solid #00bee8;
      overflow: hidden;
      position: relative;
      z-index: 2;
      background-color: black;
      margin-block: -2vh;
    }

    .stripe2 {
      width: 28vw;
      z-index: 1;
      height: 4px;
    }
  }
}

@media (width < 1920px) {
  .about-me-section .rightside .about-me-face {
    border-radius: 100%;
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }

  .about-me-section .rightside {
    margin-block-start: -1%;
    overflow: inherit;
  }

  .about-me-section {
    margin-top: 13%;
  }
}

@media (width <= 1440px) and (height <= 1000px) {
  .about-me-section {
    margin-top: 144px;
  }
  .social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      top: inherit;
    }
  }
}

@media (width <= 1440px) /* and (height <= 719px) */ {
  .about-me {
    position: relative;
    width: 92%;
    margin-left: 8.5%;
    top: 1%;
    padding-top: 3vh;
    height: 78%;

    .about-me-section .leftside h1 {
      font-size: 73.5px;
    }
  }
  .about-me-section .rightside {
    width: 58%;
    position: absolute;
    right: 0;
    height: 79%;
  }

  .about-me-section .leftside .upper-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 31vh;
    width: 27vw;
    font-size: 14px;
  }

  .about-me-section .rightside .stripe2 {
    width: 23vw;
  }

  .about-me-section .rightside .about-me-face {
    height: 98%;
  }
}
