.contact {
  display: flex;
  position: relative;
  margin-top: 8%;
  padding-bottom: 8%;

  .left-content {
    display: flex;
    flex-direction: column;
    width: 800px;

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 44px;

      h1 {
        margin: 0;
        letter-spacing: 1px;
        caret-color: transparent;
      }

      img {
        width: 117px;
        height: 5px;
      }
    }

    .lower {
      width: 100%;
      margin-left: 40%;
      padding-bottom: 4vh;
      caret-color: transparent;

      h3 {
        font-size: 24px;
      }

      span {
        font-weight: 200;
        font-size: 18px;
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .to-top {
    width: 39px;
    height: 39px;
    position: absolute;
    bottom: 88px;
    right: 11%;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }
  }

  .shadow-contact {
    position: absolute;
    bottom: 0;
    width: 300px;
    left: -63px;
  }

  .right-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 600px;
    padding-top: 14vh;
    padding-bottom: 5vh;
    padding-left: 7.5%;
    align-items: center;

    span {
      padding-bottom: 8px;
    }
    textarea {
      padding-bottom: 8px;
    }

    .d-none {
      display: none !important;
    }

    input {
      font-family: Poppins, sans-serif;
      letter-spacing: 1px;
      color: white;
      width: 100%;
      border: 2px solid #4b47ff;
      border-radius: 8px;
      height: 40px;
      margin-bottom: 3vh;
      background-color: transparent;
      color: white;
      font-size: 18px;
      padding: 5px;
      background-color: #141d2f;
      transition: background-color 0.5s ease-in;
    }

    .empty-color {
      background-color: #aa902bed;
    }

    .standart-color {
      background-color: rgb(170 144 43 / 0%) !important;
    }

    input::placeholder {
      position: absolute;
      top: 14px;
      left: 24px;

      color: white;
    }

    textarea {
      font-family: Poppins, sans-serif;
      letter-spacing: 1px;
      color: white;
      width: 100%;
      border: 2px solid #4b47ff;
      border-radius: 8px;
      height: 40px;
      margin-bottom: 40px;
      background-color: transparent;
      color: white;
      font-size: 18px;
      padding: 5px;
      position: relative;
      z-index: 2;
      background-color: #141d2f;
      transition: background-color 0.5s ease-in;
    }

    textarea::placeholder {
      position: absolute;
      top: 14px;
      left: 24px;

      color: white;
    }

    .message {
      min-height: 175px;
    }

    button {
      width: 215px;
      height: 55px;
      border-radius: 12px;
      background-color: #00bee8;
      color: white;
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.2s ease-out;

      &:hover {
        -webkit-animation: scale-up-center 0.07s
          cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: scale-up-center 0.17s cubic-bezier(0.39, 0.575, 0.565, 1)
          both;
        background-color: #4b47ff;
      }
    }
  }
}
.buttons-conatct {
  position: relative;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
s ::-webkit-input-placeholder {
  display: flex;
  text-align: center;
  justify-content: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  display: flex;
  text-align: center;
  justify-content: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  display: flex;
  text-align: center;
  justify-content: center;
}

:-ms-input-placeholder {
  display: flex;
  text-align: center;
  justify-content: center;
}

.send-message {
  position: absolute;
  bottom: 159px;
  background-color: #02a054;
  padding: 15px 13px;
  border-radius: 8px;
  font-size: 16px;
}

.scale-in-ver-center {
  -webkit-animation: scale-in-ver-center 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

@media (width <= 1920px) {
  .contact .left-content .lower {
    margin-left: 0;
    padding-left: 29%;
  }
  .contact .left-content .head {
    width: inherit;
    justify-content: inherit;
  }

  .contact .right-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    padding-top: 16vh;
    padding-bottom: 5vh;
    padding-left: 18.5%;
    padding-right: 11%;
  }

  .contact .left-content {
    display: flex;
    flex-direction: column;
    width: 38%;
  }

  .contact .left-content .head h1 {
    padding-left: 46%;
  }

  .contact .left-content .lower {
    width: 80%;
  }
}

@media (width <= 1800px) {
  .contact .left-content .head h1 {
    padding-left: 43%;
  }

  .contact {
    margin-top: 200px;
    height: 800px;
  }
}
@media (width <= 1700px) {
  .contact .left-content .head h1 {
    padding-left: 42%;
  }
}

@media (width < 1550px) {
  .contact .left-content .head h1 {
    padding-left: 40%;
  }
}

@media (width < 1450px) {
  .contact .left-content .head h1 {
    padding-left: 39%;
  }
}

@media (width < 1400px) {
  .contact .left-content .lower {
    padding-bottom: 4vh;
    position: relative;
    z-index: 100;
  }
}

@media (width <= 1300px) {
  .contact .left-content .head h1 {
    padding-left: 58px;
    font-size: 63.5px;
  }
}

@media (width <= 1250px) {
  .contact .left-content .head h1 {
    padding-left: 54px;
  }
}

@media (width <= 1200px) {
  .contact .left-content .head h1 {
    padding-left: 48px;
  }

  .contact .left-content .lower {
    padding-left: 27%;
    width: 87%;
  }
}

@media (width <= 1150px) {
  .contact .left-content .head h1 {
    padding-left: 44px;
  }
}

@media (width <= 1100px) {
  .contact .left-content .head h1 {
    padding-left: 40px;
  }
}
@media (width <= 1100px) {
  .contact .left-content .head h1 {
    padding-left: 37px;
  }
}

@media (width < 1024px) {
  .contact {
    flex-direction: column;
    height: 1000px;
    align-items: center;
  }

  footer {
    padding: 6% 0%;
    flex-direction: column;
  }

  .contact .left-content {
    width: 100%;
  }

  .contact .left-content .head img {
    width: 45px;
  }

  .contact .left-content .head h1 {
    padding-left: 28px;
  }

  .contact .left-content .lower {
    text-align: inherit;
    margin-left: 80px;
    margin-block-start: -18px;
    padding: 0;
  }

  .contact .right-content {
    padding: 0;
    padding-top: 38px;
    width: 77%;
  }

  .contact .right-content .message {
    height: 13vh;
    margin-bottom: 5vh;
    padding-top: 16px;
  }
}

@media (width <= 640px) {
  .contact .left-content .lower {
    text-align: inherit;
    margin-left: 8.5%;
    padding: 0;
    width: 78%;
  }

  .contact {
    margin-top: 150px;
    height: 1050px;
  }

  .contact .right-content button {
    position: relative;
    z-index: 2;
  }
  .contact .right-content {
    padding: 0;
    padding-top: 38px;
    width: 83vw;
    height: 82vh;
  }

  .contact .to-top {
    top: inherit;
    bottom: 30px;
    right: 9%;
  }
}

@media (width <= 621px) {
  .contact .left-content .head h1 {
    font-size: 60px;
    padding-left: 18px;
  }

  .contact .left-content .lower h3 {
    font-size: 20px;
  }

  .contact .left-content .lower span {
    font-size: 15px;
  }

  .contact .right-content input {
    font-size: 15px;
    padding: 0;
    padding-left: 16px;
    width: 95%;
    height: 56px;
  }
  .contact .right-content textarea {
    font-size: 15px;
    padding: 0;
    padding-left: 16px;
    width: 95%;
  }

  .contact .left-content .head img {
    width: 11px;
  }
}

@media (width <= 460px) {
  .contact .left-content .head h1 {
    font-size: 40px;
  }

  .contact .left-content .lower h3 {
    font-size: 15px;
  }

  .contact .left-content .lower span {
    font-size: 12px;
  }

  .contact .right-content input {
    font-size: 12px;
  }
  .contact .right-content textarea {
    font-size: 12px;
  }
}

@media (width <= 420px) {
  .contact[_ngcontent-ng-c492407953] {
    margin-top: 100px;
    height: 110vh;
  }
}
