.contact {
  display: flex;
  position: relative;
  margin-top: 13%;
  padding-bottom: 8%;

  .left-content {
    display: flex;
    flex-direction: column;
    width: 42%;

    .head {
      display: flex;
      align-items: center;
      width: 65.5%;
      justify-content: space-between;
      font-size: 44px;

      h1 {
        margin: 0;
        letter-spacing: 1px;
      }

      img {
        width: 117px;
        height: 5px;
      }
    }

    .lower {
      width: 50%;
      margin-left: 218px;
      padding-bottom: 4vh;

      h3 {
        font-size: 24px;
      }

      span {
        font-weight: 200;
        font-size: 18px;
      }
    }
  }

  .to-top {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 650px;
    right: 11%;
  }

  .shadow-contact {
    position: absolute;
    bottom: 0;
    width: 300px;
    left: -63px;
  }

  .right-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 43vh;
    padding-top: 14vh;
    padding-bottom: 5vh;
    padding-left: 7.5%;
    align-items: center;

    input {
      width: 100%;
      border: 2px solid #4b47ff;
      border-radius: 8px;
      height: 40px;
      margin-bottom: 3vh;
      background-color: transparent;
      color: white;
      font-size: 18px;
      padding: 5px;
    }

    input::placeholder {
      position: absolute;
      top: 14px;
      left: 24px;

      color: white;
    }

    .message {
      height: 16vh;
    }

    button {
      width: 215px;
      height: 55px;
      border-radius: 12px;
      background-color: #00bee8;
      color: white;
      font-weight: 700;
      font-size: 18px;
    }
  }
}

@media (width < 1920px) {
  .contact .left-content .lower {
    margin-left: 0;
    padding-left: 29%;
  }
  .contact .left-content .head {
    width: inherit;
    justify-content: inherit;
  }

  .contact .right-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 43vh;
    padding-top: 16vh;
    padding-bottom: 5vh;
    padding-left: 18.5%;
    padding-right: 11%;
  }

  .contact .left-content {
    display: flex;
    flex-direction: column;
    width: 38%;
  }

  .contact .left-content .head h1 {
    padding-left: 46%;
  }

  .contact .left-content .lower {
    width: 80%;
  }
}

@media (width <= 1800px) {
  .contact .left-content .head h1 {
    padding-left: 43%;
  }
}
@media (width <= 1700px) {
  .contact .left-content .head h1 {
    padding-left: 42%;
  }
}

@media (width < 1550px) {
  .contact .left-content .head h1 {
    padding-left: 40%;
  }
}

@media (width < 1450px) {
  .contact .left-content .head h1 {
    padding-left: 39%;
  }
}

@media (width < 1400px) {
  .contact .left-content .lower {
    padding-bottom: 4vh;
    position: relative;
    z-index: 100;
  }
}

@media (width <= 1300px) {
  .contact .left-content .head h1 {
    padding-left: 58px;
    font-size: 63.5px;
  }
}

@media (width <= 1250px) {
  .contact .left-content .head h1 {
    padding-left: 54px;
  }
}

@media (width <= 1200px) {
  .contact .left-content .head h1 {
    padding-left: 48px;
  }

  .contact .left-content .lower {
    padding-left: 27%;
    width: 87%;
  }
}

@media (width <= 1150px) {
  .contact .left-content .head h1 {
    padding-left: 44px;
  }
}

@media (width <= 1100px) {
  .contact .left-content .head h1 {
    padding-left: 40px;
  }
}
@media (width <= 1100px) {
  .contact .left-content .head h1 {
    padding-left: 37px;
  }
}

@media (width < 1024px) {
  .contact {
    flex-direction: column;

    align-items: center;
  }

  footer {
    padding: 6% 0%;
    flex-direction: column;
  }
}
