<div class="contact" id="conatct">
  <div class="left-content">
    <div class="head">
      <img src="assets/img/icons/stripe6.webp" />
      <h1>Kontakt</h1>
    </div>
    <div class="lower">
      <h3>Sie brauchen Lösungen?</h3>
      <span
        >Gerne können Sie mich dafür kontaktieren, es würde mich freuen Sie
        kennenzulernen und zu Ihren Projekt beizutragen.<br />
      </span>
      <span
        >Sie brauchen einen Frontend Entwickler?<br />
        Kontaktieren Sie mich!</span
      >
    </div>
  </div>

  <form (ngSubmit)="send()" [formGroup]="form">
    <div class="right-content" [formGroup]="form">
      <span>Ihr Name</span>
      <!-- placeholder="Ihr Name" -->
      <input
        type="text"
        id="name"
        required
        formControlName="form_name"
        [ngClass]="{ 'empty-color': signalName, 'standart-color': !signalName }"
        [ngClass]="{ 'empty-color': signalName, 'standart-color': !signalName }"
      />
      <span>Ihre Email</span>
      <!--  placeholder="Ihre Email" -->
      <input
        type="email"
        id="email"
        required
        formControlName="email"
        [ngClass]="{
          'empty-color': signalEmail,
          'standart-color': !signalEmail
        }"
      />

      <span>Ihre Nachricht</span>
      <!-- placeholder="Ihre Nachricht" -->
      <textarea
        cols="50"
        rows="40"
        class="message"
        required
        formControlName="message"
        [ngClass]="{
          'empty-color': signalMessage,
          'standart-color': !signalMessage
        }"
      ></textarea>

      <div class="buttons-conatct">
        <button type="submit">Senden</button>

        <div
          [ngClass]="{
            'd-none': invisible,
            'send-message': true,
            'scale-in-ver-center': !invisible,
            'scale-out-center': invisible
          }"
          id="message-div"
        >
          <span class="send">Nachricht gesendet.</span>
        </div>
      </div>
    </div>
  </form>
  <img class="shadow-contact" src="assets/img/shadows/footer.webp" alt="" />

  <img
    src="assets/img/icons/go-up.webp"
    class="to-top"
    (click)="scrollToTop()"
  />
</div>
