.dnone {
  display: none;
}

.show-projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 285px;
  position: relative;

  .headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline-upperpart {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: center;
    position: relative;

    h1 {
      letter-spacing: 4px;
    }
  }
  img {
    position: absolute;
    right: 0;
    top: 79px;
    width: 36%;
    height: 4px;
  }

  .img-correct {
    margin-right: 64%;
    width: 10vw !important;
  }

  h1 {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
  }

  .projects {
    .project {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 208px;
    }

    img {
      position: inherit;
      height: 500px;
      width: 500px;
    }

    .description {
      width: 40%;
      letter-spacing: 0.7px;
      direction: initial;
    }

    .headline {
      span {
        font-size: 36px;
        font-weight: 700;
        color: #4b47ff;
      }
    }

    .tech {
      span {
        font-size: 30px;
        font-weight: 300;
        color: #00bee8;
      }
    }

    .tech {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
    }

    .description-text {
      span {
        font-size: 18px;
      }
    }

    .buttons {
      display: flex;
      gap: 100px;
      justify-content: center;
      margin-top: 24px;
      cursor: pointer;

      button {
        width: 165px;
        height: 58px;
        border-radius: 10px;
        background-color: #4b47ff;
        border: none;
        font-size: 20px;
        color: white;
        letter-spacing: 0.6px;
        cursor: pointer;
        padding: 1px;
        border: 1px solid transparent; /* Standard-Border, transparent für Übergangseffekt */
        transition: border 0.3s ease-out;
        transition: background-color 0.5s ease-out;

        &:hover {
          background-color: #1814e3;
          border: 1px solid white;
          transition: background-color 0.5s ease-in-out;
          transition: border 0.3s ease-in-out;
        }
      }

      .git-btn {
        background-color: #141d2f !important;
        border: 1px solid #00bee8 !important;
        transition: border 0.3s ease-out;
        transition: background-color 0.5s ease-out;

        &:hover {
          background-color: #0a6b91 !important;
          border: 1px solid white !important;
          transition: background-color 0.5s ease-in-out;
          transition: border 0.3s ease-in-out;
        }
      }
    }
  }
  .headline-bottom {
    font-size: 18px;
  }
}

.project {
  padding-top: 9vh;
}

.direction {
  direction: rtl;
}

.shadow {
  img {
    top: auto;
    bottom: 0;
    left: -100px;
    height: 800px;
    z-index: -1;
  }
}

@media (width < 1920px) {
  .show-projects .img-correct {
    margin-right: 68%;
  }

  .show-projects img {
    position: absolute;
    right: 0;
    top: 79px;
    width: 32%;
  }

  .show-projects .projects .project {
    gap: 5%;
    width: 100%;
  }

  .show-projects .projects img {
    position: inherit;
    height: 500px;
    width: 34%;
  }
}

@media (width <= 1800px) {
  .show-projects {
    margin-top: 14%;
  }
}

@media (width <= 1750px) {
  .show-projects .projects .project {
    gap: 5%;
    width: 100%;
  }
}

@media (width <= 1550px) {
  .show-projects h1 {
    font-size: 87.5px;
    line-height: 150px;
    font-weight: 700;
    margin: 0;
  }

  .show-projects .headline-bottom {
    font-size: 15px;
  }
}

@media (width <= 1400px) {
  .show-projects .projects .project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
}

@media (width <= 1300px) {
  .show-projects {
    margin-top: 100px;
  }

  .show-projects .headline-upperpart h1 {
    font-size: 63.5px;
  }
  .show-projects .projects img {
    height: 350px;
  }

  .show-projects .projects .project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
  }
}

@media (width <= 1024px) {
  .show-projects .projects .project {
    flex-direction: column;
    gap: 0;
  }

  .show-projects .headline-bottom {
    font-size: 18px;
    width: 77%;
    text-align: center;
  }

  .show-projects {
    margin-top: 17%;
  }

  .show-projects .projects .description {
    width: 61%;
    letter-spacing: 1.2px;
    direction: initial;
  }

  .show-projects img {
    width: 23%;
  }
  .shadow img {
    width: 25%;
  }

  .show-projects .img-correct {
    margin-right: 78%;
  }

  .show-projects .projects img {
    height: 350px;
    width: 48%;
    object-fit: contain;
  }

  .show-projects .projects .buttons {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 30px;
  }

  .description-text {
    text-align: center;
  }

  .project {
    padding-top: 15vh;
  }

  .show-projects .projects .tech span {
    font-size: 22px;
    font-weight: 300;
    color: #00bee8;
  }
}
@media (width <= 621px) {
  .show-projects .img-correct {
    margin-right: 83%;
  }

  .show-projects img {
    width: 17%;
  }

  .show-projects .headline-upperpart h1 {
    font-size: 60px;
  }

  .show-projects .headline-bottom {
    font-size: 15px;
  }

  .show-projects .projects .description-text span {
    font-size: 15px;
  }
}

@media (width <= 560px) {
  .show-projects .projects .description {
    width: 85%;
  }

  .show-projects .img-correct {
    display: none;
  }

  .show-projects img {
    width: 14vw;
  }

  .show-projects .projects .buttons {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }

  .show-projects .projects img {
    height: 228px;
  }

  .show-projects .projects .buttons button {
    width: 38vw;
    height: 70px;
    border-radius: 10px;
    background-color: #00bee8;
    border: none;
    font-size: 24px;
    color: white;
    letter-spacing: 0.6px;
    font-weight: 760;
  }

  .show-projects .projects .project {
    flex-direction: column;
    gap: 0;
    padding-top: 29px;
  }
}

@media (width <= 460px) {
  .show-projects .headline-upperpart h1 {
    font-size: 40px;
  }

  .show-projects .headline-bottom {
    font-size: 12px;
  }

  .show-projects .projects .description-text span {
    font-size: 12px;
  }
}
