<div class="show-projects">
  <div class="headline">
    <div class="headline-upperpart">
      <img class="img-correct" src="assets/img/icons/stripe5.png" />
      <h1>Portfoilio</h1>
      <img src="assets/img/icons/stripe4.png" />
    </div>
    <div class="headline-bottom">
      <span
        >This page is a sample of my work - please feel free to try them
        out.</span
      >
    </div>
  </div>
  <div class="projects">
    <div
      [ngClass]="{ project: true, direction: i % 2 === 0 }"
      *ngFor="let laptop of laptops; let i = index"
    >
      <img src="../../assets/img/laptops/{{ laptop }}" />
      <div class="description">
        <div class="headline">
          <span> {{ headlines[i] }}</span>
        </div>
        <div class="tech">
          <span> {{ technologies[i] }}</span>
        </div>
        <div class="description-text">
          <span> {{ descriptions[i] }}</span>
        </div>
        <div class="buttons">
          <button>Live test</button>
          <button>Github</button>
        </div>
      </div>
    </div>
  </div>
</div>
