.show-projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 15%;
  position: relative;

  .headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline-upperpart {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-content: center;
    position: relative;
  }
  img {
    position: absolute;
    right: 0;
    top: 79px;
    width: 36%;
    height: 4px;
  }

  .img-correct {
    margin-right: 64%;
    width: 10vw !important;
  }

  h1 {
    font-size: 100px;
    font-weight: 700;
    margin: 0;
  }

  .projects {
    .project {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 208px;
    }

    img {
      position: inherit;
      height: 500px;
      width: 500px;
    }

    .description {
      width: 40%;
      letter-spacing: 0.7px;
      direction: initial;
    }

    .headline {
      span {
        font-size: 36px;
        font-weight: 700;
        color: #4b47ff;
      }
    }

    .tech {
      span {
        font-size: 30px;
        font-weight: 300;
        color: #00bee8;
      }
    }

    .tech {
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
    }

    .description-text {
      span {
        font-size: 20px;
      }
    }

    .buttons {
      display: flex;
      gap: 100px;
      justify-content: center;
      margin-top: 16px;

      button {
        width: 165px;
        height: 58px;
        border-radius: 10px;
        background-color: #00bee8;
        border: none;
        font-size: 20px;
        color: white;
        letter-spacing: 0.6px;
      }
    }
  }
}

.project {
  padding-top: 9vh;
}

.direction {
  direction: rtl;
}

.shadow {
  img {
    top: auto;
    bottom: 0;
    left: -100px;
    height: 800px;
    z-index: -1;
  }
}

@media (width < 1920px) {
  .show-projects .img-correct {
    padding-right: 1094px;
  }

  .show-projects img {
    position: absolute;
    right: 0;
    top: 79px;
    width: 31.5%;
  }
}

@media (width < 1400px) {
  .show-projects[_ngcontent-ng-c143686258]
    .projects[_ngcontent-ng-c143686258]
    .project[_ngcontent-ng-c143686258] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
}
