.hello {
  display: flex;
  width: 99.6%;
  height: 17%;

  img {
    object-fit: cover;
  }
}

.bg1 {
  position: absolute;
  z-index: -2;
  width: 47%;
  height: 81%;
  top: 15vh;
  margin-inline-start: 19px;
}

.image {
  display: flex;
  justify-content: center;
}

.left-section {
  width: 38.5%;
  height: 91%;
  display: flex;
  margin-top: 9%;
  padding-left: 4.5%;
}

.right-section {
  display: flex;
  align-items: center;
  position: relative;
  height: 21%;
  margin-top: 300px;
  width: 49.5%;
  text-align: end;

  button {
    position: absolute;
    right: 333px;
    bottom: -55%;
    width: 165px;
    height: 58px;
    border-radius: 10px;
    background-color: #00bee8;
    border: none;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    font-weight: 800;
  }

  .name-calling {
    width: 96%;
    display: flex;
    flex-direction: column;
    line-height: 1.2;

    h1 {
      margin-top: 0;
      font-size: 110px;
      margin-bottom: 0px;
    }
    h2 {
      margin-top: 0px;
      font-size: 63px;
      color: #4b47ff;

      margin-bottom: 0;
    }
  }

  .text-vertical {
    height: 100%;
    font-size: 75px;
    width: 13%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: scale(-1);
    position: absolute;
    right: 736px;
    top: 4.5%;
  }
}

.curve {
  display: flex;
  justify-content: center;
  height: 2.5%;
}

.curve-img {
  position: absolute;
  width: 100%;
  height: 124%;
  bottom: -55%;
}

/* RESPONSIV WIDTH START */
@media (width < 1920px) {
  .curve-img {
    position: absolute;
    width: 100%;
    height: 119%;
    bottom: -55%;
  }

  .left-section {
    width: 42%;
  }
  .right-section {
    width: 45.9%;

    .text-vertical {
      font-size: 74px;
      text-align: end;
      height: 174px;
      right: 744px;
    }
  }
}

@media (width <= 1800px) {
  .left-section {
    width: 44.4%;
  }
  .right-section {
    width: 43.5%;

    /*    .right-section button {
      left: 42%;
    } */
  }
}

@media (width <= 1750px) {
  .right-section .name-calling h1 {
    font-size: 107px;
  }
  .right-section .name-calling h2 {
    font-size: 62px;
  }

  .right-section .text-vertical {
    right: 729px;
  }
}
@media (width <= 1700px) {
  .right-section {
    width: 46.6% !important;
    text-align: end;

    .name-calling h1 {
      font-size: 104.5px;
    }
    .name-calling h2 {
      font-size: 60.5px;
    }
  }

  .right-section button {
    position: absolute;
    right: 317px;
  }
  .curve-img {
    width: 106.8%;
  }
  .bg1 {
    width: 59%;
  }

  .right-section .text-vertical {
    right: 715px;
  }
}

@media (width <= 1550px) {
  .right-section .text-vertical {
    font-size: 73px;
  }

  .right-section .name-calling {
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
  }

  .right-section button {
    position: absolute;
    right: 284px;
  }

  .right-section .text-vertical {
    right: 685px;
  }

  .left-section[_ngcontent-ng-c3754490405] {
    width: 42.4%;
    height: 92%;
  }
}

@media (width <= 1500px) {
  .right-section {
    width: 50% !important;
    text-align: end;
  }

  .right-section .text-vertical {
    font-size: 74px;
    text-align: end;
    height: 171px;
    right: 673px;
  }

  .left-section {
    width: 34.5%;
  }
  .curve-img {
    width: 114.4%;
    height: 119%;
  }
  .bg1 {
    width: 67%;
  }
}

@media (width <= 1415px) {
  /*   .left-section {
    padding-left: 2%;
    width: 50%;
  } */

  .right-section {
    .name-calling {
      h1 {
        font-size: 87.5px;
      }

      h2 {
        font-size: 50.5px;
      }
    }
    .text-vertical {
      font-size: 62px;
      text-align: end;
      right: 568px;
      top: 17px;
    }
  }

  .right-section {
    width: 50% !important;
    button {
      right: 228px;
      bottom: -49%;
    }
  }
}

@media (width < 1350px) {
  .left-section {
    width: 42.4% !important;
    height: 85% !important;
    margin-top: 13%;
    padding-left: 1%;
  }

  .right-section {
    width: 53.5% !important;
  }
}

@media (width < 1250px) {
  .right-section[_ngcontent-ng-c3754490405] {
    width: 53.5% !important;
  }

  .right-section[_ngcontent-ng-c3754490405]
    .name-calling[_ngcontent-ng-c3754490405]
    h1[_ngcontent-ng-c3754490405] {
    font-size: 73.5px;
  }

  .right-section[_ngcontent-ng-c3754490405]
    .name-calling[_ngcontent-ng-c3754490405]
    h2[_ngcontent-ng-c3754490405] {
    font-size: 42px;
  }

  .right-section[_ngcontent-ng-c3754490405]
    .text-vertical[_ngcontent-ng-c3754490405] {
    font-size: 53px;
    text-align: end;
    right: 470px;
    top: 28px;
  }
  .left-section[_ngcontent-ng-c3754490405] {
    width: 43.4% !important;
    height: 81% !important;
    margin-top: 16%;
    padding-left: 0%;
  }
  .bg1[_ngcontent-ng-c3754490405] {
    width: 82%;
  }
  .curve[_ngcontent-ng-c3754490405] {
    display: flex;
    justify-content: center;
    height: 2.5%;
    overflow-y: hidden;
  }
  .curve-img[_ngcontent-ng-c3754490405] {
    width: 122.4%;
    height: 119%;
  }
  .right-section[_ngcontent-ng-c3754490405] button[_ngcontent-ng-c3754490405] {
    right: 186px;
    bottom: -33%;
  }
}
