<div class="hello">
  <div class="left-section">
    <div class="image">
      <img class="bg1" src="../../assets/img/shadows/double-shadow.png" />
      <img src="../../assets/img/icons/testguy.png" />
    </div>
  </div>
  <div class="right-section">
    <span>I am</span>

    <div class="name-calling">
      <h1>Gökay Sahin</h1>
      <h2>FRONTEND DEVELOPER</h2>
    </div>
    <button>Lets talk!</button>
  </div>
</div>

<div class="curve">
  <img src="../../assets/img/curve-background.png" />
</div>
