.hello {
  display: flex;
  width: 100%;
  height: 70vh;
  //justify-content: center;
}

.bg1 {
  width: 47%;
  height: 81%;
  position: absolute;
  z-index: -2;
  top: 15vh;
  margin-inline-start: 19px;
}

.image {
  display: flex;
  justify-content: center;
}

.left-section {
  width: 44%;
  height: 69vh;
  display: flex;
  justify-content: center;
}

.right-section {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: end;
  width: 52.3%;
  height: 21vh;
  margin-top: 7vh;

  button {
    position: absolute;
    left: 44%;
    top: 25vh;
    width: 165px;
    height: 58px;
    border-radius: 10px;
    background-color: #00bee8;
    border: none;
    font-size: 20px;
    color: white;
    letter-spacing: 0.6px;
  }

  .name-calling {
    width: 38vw;

    h1 {
      font-size: 100px;
      margin-bottom: 0px;
      margin-block-end: -25px;
      margin-block-start: 97px;
    }
    h2 {
      margin-top: 0px;
      font-size: 58px;
      color: #4b47ff;
      margin-inline-start: 1px;
    }
  }

  .text-vertical {
    height: 72%;
    font-size: 73px;
    width: 11%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: scale(-1);
    margin-inline-start: 62px;
    margin-block-start: 0px;
  }
}

.curve {
  display: flex;
  justify-content: center;
}

.curve-img {
  position: absolute;
  top: 29vh;
  width: 100%;
}
