<div class="hello">
  <div class="left-section">
    <div class="image">
      <img class="bg1" src="assets/img/shadows/double-shadow.png" />
      <img
        [ngStyle]="{ 'object-fit': 'cover' }"
        src="assets/img/icons/testguy.png"
      />
    </div>
  </div>
  <div class="right-section">
    <span [ngClass]="{ 'text-vertical': true }">I am</span>

    <div class="name-calling">
      <h1>Gökay Sahin</h1>
      <h2>FRONTEND DEVELOPER</h2>
    </div>
    <button>Lets talk!</button>
  </div>
</div>

<div [ngClass]="{ curve: true }">
  <img
    [ngClass]="{ 'curve-img': true }"
    src="assets/img/curve-background.png"
  />
</div>
