.hello {
  display: flex;
  width: 99.6%;
  height: 17%;

  img {
    object-fit: cover;
  }
}

.bg1 {
  width: 47%;
  height: 81%;
  position: absolute;
  z-index: -2;
  top: 15vh;
  margin-inline-start: 19px;
}

.image {
  display: flex;
  justify-content: center;
}

.left-section {
  width: 41%;
  height: 80%;
  display: flex;
  justify-content: center;
  margin-top: 9%;
}

.right-section {
  display: flex;
  align-items: center;
  position: relative;
  height: 21%;
  margin-top: 15%;
  width: 47%;
  margin-inline-start: 5.3%;

  button {
    position: absolute;
    left: 40%;
    bottom: -55%;
    width: 165px;
    height: 58px;
    border-radius: 10px;
    background-color: #00bee8;
    border: none;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    font-weight: 800;
  }

  .name-calling {
    width: 96%;
    display: flex;
    flex-direction: column;
    line-height: 1.2;

    h1 {
      margin-top: 0;
      font-size: 110px;
      margin-bottom: 0px;
    }
    h2 {
      margin-top: 0px;
      font-size: 63px;
      color: #4b47ff;

      margin-bottom: 0;
    }
  }

  .text-vertical {
    height: 103%;
    font-size: 76px;
    width: 13%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: scale(-1);
  }
}

.curve {
  display: flex;
  justify-content: center;
}

.curve-img {
  position: absolute;
  width: 100%;
  height: 125%;
  bottom: -55%;
}

/* RESPONSIV HEIGHT START */
/* 
@media (height <= 1075px) {
  .right-section {
    margin-inline: 0;
    position: relative;
    z-index: 3;
    margin-inline-start: 5%;
    gap: 4%;

    .text-vertical {
      height: 78%;
      font-size: 68px;
      margin-block-start: -35px;
      width: 6%;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: scale(-1);
      margin-inline-start: 49px;
    }
  }
}

@media (height <= 1065px) {
  .right-section {
    .text-vertical {
      margin-inline-start: 55px;
    }
  }
}

@media (height <= 1000px) {
  .curve-img {
    height: 124%;
  }

  .right-section {
    .text-vertical {
      margin-inline-start: 63px;
    }
  }
}

@media (height <= 960px) {
  .curve-img {
    height: 123%;
  }

  .right-section {
    .text-vertical {
      margin-inline-start: 66px;
    }
  }
}

@media (height <= 945px) {
}

@media (height <= 925px) {
  .right-section {
    .text-vertical {
      height: 91%;
      margin-inline-start: 48px;
    }
  }
  .curve-img {
    height: 122%;
  }

  .hello img {
    object-fit: cover;
    height: 75%;
    width: 40%;
    position: absolute;
    top: 12%;
  }
}

@media (height <= 900px) {
  .right-section {
    .text-vertical {
      margin-inline-start: 52px;
    }
  }
}

@media (height <= 882px) {
  .curve-img {
    height: 120%;
  }
  .right-section {
    .text-vertical {
      margin-inline-start: 7%;
      height: 93%;
    }
  }
  .hello img {
    width: 38%;
    height: 75%;
    position: absolute;
    top: 14%;
  }
}

@media (height <= 840px) {
  .curve-img {
    height: 118%;
  }

  .right-section button {
    top: 135%;
  }

  .right-section {
    .text-vertical {
      height: 99%;
    }
  }
}

@media (height < 800px) {
  .hello img {
    width: 34%;
    height: 71%;
    position: absolute;
    top: 18%;
  }

  .right-section {
    .name-calling {
      h1 {
        font-size: 95px;
      }
      h2 {
        font-size: 54.5px;
      }
    }

    .text-vertical {
      margin-inline-start: 7%;
      height: 96%;
      font-size: 62px;
    }
  }

  .right-section button {
    width: 150px;
    height: 49px;
    left: 46%;
  }

  .curve-img {
    height: 116%;
  }

  .right-section {
    gap: 0;
  }
}
@media (height <= 800px) {
  .hello img {
    width: 34%;
    height: 75%;
    position: absolute;
    top: 18%;
  }

  .curve-img {
    height: 114%;
  }

  .right-section {
    .text-vertical {
      height: 100%;
    }
  }
  .right-section .name-calling {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .right-section .text-vertical {
    height: 100%;
    width: 0%;
  }
  .right-section {
    margin-inline-start: 7%;
  }
  .right-section button {
    left: 41%;
  }
}

@media (height <= 750px) {
  .hello img {
    width: 34%;
    height: 79%;
  }

  .right-section {
    .text-vertical {
      margin-inline-start: 9%;
      font-size: 64px;
    }
  }
}

@media (height <= 700px) {
  .hello img {
    width: 32%;
    height: 83%;
  }

  .curve-img {
    height: 109%;
  }

  .right-section {
    .text-vertical {
      margin-inline-start: 0%;
      height: 216px;
    }
  }
  .curve {
    margin-bottom: 10vh;
  }

  .about-me-section {
    margin-top: 15vh;
  }

  .right-section button {
    top: 146%;
  }
}

@media (height <= 650px) {
  .curve-img {
    height: 102%;
  }

  .right-section button {
    top: 159%;
  }
  .hello img {
    height: 89%;
  }
}

@media (height <= 600px) {
  .hello img {
    height: 97%;
  }

  .right-section .text-vertical {
    height: 218px;
  }

  .curve-img {
    height: 97%;
  }
  .right-section button {
    top: 165%;
    left: 40%;
  }
}

@media (height <= 550px) {
  .hello img {
    width: 30%;
    height: 93%;
    top: 23%;
  }
}

@media (height <= 520px) {
  .hello img {
    width: 30%;
    height: 104%;
    top: 26%;
  }

  .curve-img {
    height: 87%;
  }
  .right-section button {
    top: 176%;
    left: 40%;
  }
}

@media (height <= 450px) {
  .hello img {
    width: 30%;
    height: 116%;
    top: 28%;
  }
} */
/* RESPONSIV HEIGHT END */

/* RESPONSIV WIDTH START */

@media (width < 1920px) {
  .curve-img {
    position: absolute;
    width: 100%;
    height: 120%;
    bottom: -55%;
  }
}

@media (width < 1830px) {
  .right-section {
    margin-inline-start: 4.4%;
  }
}
@media (width <= 1800px) {
  .right-section {
    margin-inline-start: 3%;
  }
}

@media (width <= 1750px) {
  .right-section .name-calling h1 {
    font-size: 107px;
  }
  .right-section .name-calling h2 {
    font-size: 62px;
  }

  .right-section .text-vertical {
    height: 101%;
    font-size: 74px;
  }
}
@media (width <= 1700px) {
  .right-section .name-calling h1 {
    font-size: 104.5px;
  }
  .right-section .name-calling h2 {
    font-size: 60.5px;
  }

  .right-section .text-vertical {
    height: 99%;
    font-size: 73px;
  }

  .curve-img {
    position: absolute;
    width: 106.8%;
  }
  .bg1 {
    width: 51%;
  }
}

/*
  .right-section .name-calling h1 {
    font-size: 90px;
  }

  .right-section .name-calling h2 {
    font-size: 52px;
  }

  .right-section {
    margin-inline-start: 10%;

    .name-calling {
      width: 89%;
    }

    .text-vertical {
      width: 10%;
      margin-inline-start: 59px;
      font-size: 62px;
    }
  }

  .right-section button {
    left: 44%;
  }
} */
/* 
@media (width <= 1740px) {
  .right-section {
    margin-inline-start: 8%;
  }
}

@media (width <= 1700px) {
  .curve-img {
    width: 102.8%;
  }
}

@media (width < 1690px) {
  .right-section {
    margin-inline-start: 6%;
  }

  .left-section {
    padding-left: 2%;
  }

  .right-section .text-vertical {
    width: 25px;
    margin-inline-start: 47px;
    font-size: 59px;
  }

  .right-section {
    margin-inline-start: 2%;
  }
}

@media (width <= 1680px) {
  .curve-img {
    width: 104.8%;
  }
}

@media (width <= 1650px) {
  .curve-img {
    width: 112%;
  }
  .right-section {
    margin-inline-start: 3%;
  }

  .hello[_ngcontent-ng-c3754490405] {
    display: flex;
    width: 90%;
    margin-inline-start: 7%;
  }
}

@media (width <= 1550px) {
  .curve-img {
    width: 115%;
  }
}

@media (width <= 1490px) {
  .curve-img {
    width: 120%;
  }
}
@media (width <= 1440px) {
  .curve-img {
    width: 122%;
  }
}
 */
