<div class="hello">
  <div [ngClass]="{ 'left-section': true, fire_left: firefox }">
    <div class="image">
      <img
        class="bg1"
        src="assets/img/shadows/double-shadow.webp"
        loading="lazy"
      />
      <img
        src="assets/img/icons/goekay1.webp"
        loading="lazy"
        class="profil-img"
      />
    </div>
  </div>
  <div [ngClass]="{ 'right-section': true, fire_right: firefox }">
    <div class="content-overlay">
      <div class="i-am">
        <div class="name-calling">
          <span class="text-vertical">I am</span>
          <div class="namebox">
            <h1>Gökay Sahin</h1>
            <h2>FRONTEND DEVELOPER</h2>
          </div>
        </div>
      </div>
      <button (click)="toContact()">Lets talk!</button>
    </div>
  </div>
</div>

<div [ngClass]="{ curve: true }">
  <img
    src="assets/img/icons/mobile-curve.webp"
    loading="lazy"
    [ngClass]="{ mobile: true }"
  />
  <img
    [ngClass]="{ 'curve-img': true }"
    src="assets/img/curve-background.webp"
    loading="lazy"
  />
</div>
