<div class="skills">
  <div class="leftside">
    <div class="images">
      <div class="imagebox" *ngFor="let icon of icons; let i = index">
        <img src="assets/img/icons/{{ icon }}" />
        <span>{{ icons_name[i] }}</span>
      </div>
    </div>
    <div class="shadowbox">
      <img src="../../assets/img/shadows/shadow-blue.png" />
    </div>
  </div>
  <div class="rightside">
    <h1>My skills</h1>
    <img src="assets/img/icons/stripe4.png" />
    <span
      >I have grown my frontend development skills that have allowed me to creat
      different real projects.</span
    >
    <button>Get in touch</button>
  </div>
</div>
