.skills {
  display: flex;
  position: relative;
  width: 100%;
  height: 9%;
  margin-top: 12%;
  caret-color: transparent;

  .leftside {
    width: 75%;

    .images {
      width: 86%;
      height: 88%;
      display: flex;
      gap: 5vh 7vw;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-left: 17%;
      font-size: 18px;

      .imagebox {
        width: 84px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: -webkit-center;

        span {
          padding-top: 16px;
        }
      }
    }

    .shadowbox {
      position: absolute;
      top: 2vh;

      img {
        width: 20vw;
        position: absolute;
        z-index: -1;
      }
    }
  }
  .rightside {
    width: 70%;
    height: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 81px;

    .right-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    h1 {
      margin: 0;
      font-size: 100px;
    }

    span {
      width: 57%;
      font-size: 18px;
    }

    button {
      position: absolute;
      top: 351px;
      width: 165px;
      height: 58px;
      border-radius: 10px;
      background-color: #00bee8;
      border: none;
      font-size: 20px;
      color: white;
      letter-spacing: 0.6px;
      cursor: pointer;
      transition: background-color 0.2s ease-out;

      &:hover {
        -webkit-animation: scale-up-center 0.07s
          cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: scale-up-center 0.17s cubic-bezier(0.39, 0.575, 0.565, 1)
          both;
        background-color: #4b47ff;
      }
    }
    img {
      position: absolute;
      right: 0;
      top: 161px;
      width: 113px;
      height: 4px;
    }
  }
}

.icon-skill {
  cursor: pointer;
}

.TypeScript,
.Angular,
.JavaScript,
.HTML,
.Firebase,
.Git,
.CSS,
.Rest-API,
.Scrum,
.Material-design {
  &:hover {
    -webkit-animation: icons-skills 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: icons-skills 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes icons-skills {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-20px);
    }
  }
  @keyframes icons-skills {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }
}

/**
* ----------------------------------------
* animation slide-bottom
* ----------------------------------------
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(15px);
    transform: translateY(20px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@media (width < 2000px) {
  .skills {
    margin-top: 233px;

    .leftside {
      width: 53%;
    }
  }
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/* 
@media (width < 1920px) {
  .skills .rightside {
    position: absolute;
    right: 0;
    width: 810px;
  }

  .skills .leftside {
    width: inherit;
    position: absolute;
    left: 0;
    width: 50%;
  }

  .skills .leftside .images {
    padding-left: 20%;
  }
} */

@media (width <= 1800px) {
  .skills {
    margin-top: 100px;
  }
}

@media (width <= 1550px) {
  .skills .rightside h1 {
    margin: 0;
    font-size: 87.5px;
  }
  .skills .rightside span {
    width: 57%;
    font-size: 15px;
  }

  .skills .rightside img {
    position: absolute;
    right: 0;
    top: 152px;
    width: 80px;
  }

  .skills .rightside {
    position: absolute;
    right: 0;
    width: 43%;
    width: 60%;
  }

  .skills {
    height: 13%;

    .leftside {
      width: 41%;
    }
  }
}

@media (width < 1300px) {
  .skills .rightside h1 {
    margin: 0;
    font-size: 80px;
  }

  .skills .rightside {
    width: 700px;
  }

  .skills .rightside img {
    top: 146px;
    width: 7vw;
  }

  .skills .rightside button {
    width: 129px;
    height: 50px;
    font-size: 18px;
    top: 305px;
  }
}

@media (width <= 1024px) {
  .skills {
    flex-direction: column-reverse;
    margin-top: 100px;
    font-size: 80px;
  }

  .skills .leftside {
    position: inherit;
    width: 100%;
    display: flex;
    justify-content: center;

    .images {
      padding-left: 0;
      width: 59%;
      margin-top: 100px;
    }
  }

  .skills .rightside {
    position: inherit;
    width: 100%;
    height: 200px;
  }

  .skills .leftside .shadowbox {
    z-index: -1;
    position: absolute;
    top: 2vh;
    left: 0;
  }

  .skills .rightside .right-text {
    align-items: end;
    margin-right: 60px;
  }

  .skills .rightside span {
    width: 64%;
    font-size: 18px;
    text-align: end;
  }

  .skills .rightside img {
    width: 50px;
  }
  .skills .rightside button {
    display: none;
  }
}

@media (width <= 885px) {
  .skills {
    height: initial;
    margin-top: 120px;
  }
}

@media (width <= 625px) {
  .skills {
    flex-direction: column-reverse;
    padding-top: 0;
    margin-top: 30%;
  }

  .skills .rightside {
    height: 190px;
  }

  .skills .rightside h1 {
    font-size: 60px;
  }

  .skills .rightside span {
    font-size: 15px;
  }

  .skills .leftside .images {
    width: calc(309px);
  }
  .skills .leftside .images .imagebox span {
    padding-top: 16px;
    font-size: 15px;
  }

  .skills .rightside img {
    top: 129px;
  }
}

@media (width <= 460px) {
  .skills .leftside .images {
    margin-top: 70px;
  }

  .skills .leftside .images .imagebox span {
    font-size: 12px;
  }

  .skills .rightside h1 {
    font-size: 40px;
  }

  .skills .rightside span {
    font-size: 12px;
  }

  .skills {
    height: initial;
    margin-top: 100px;

    .rightside img {
      top: 111px;
    }
  }
}

@media (width <= 380px) {
  .skills {
    height: 880px;
    margin-top: 150px;
    .rightside h1 {
      font-size: 32px;
    }
  }
}

@media (width <= 320px) {
  .skills {
    height: 880px;
    margin-top: 337px;
    .leftside .images {
      width: 270px;
    }
  }
}
