.skills {
  display: flex;
  position: relative;
  width: 100%;
  height: 9%;
  margin-top: 22%;

  .leftside {
    width: 75%;

    .images {
      width: 86%;
      height: 88%;
      display: flex;
      gap: 5vh 7vw;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-left: 17%;
      font-size: 18px;

      .imagebox {
        width: 84px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: -webkit-center;

        span {
          padding-top: 16px;
        }
      }
    }

    .shadowbox {
      position: absolute;
      top: 2vh;

      img {
        width: 20vw;
      }
    }
  }
  .rightside {
    width: 58%;
    height: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 81px;

    .right-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    h1 {
      margin: 0;
      font-size: 100px;
    }

    span {
      width: 57%;
      font-size: 18px;
    }

    button {
      position: absolute;
      top: 351px;
      width: 165px;
      height: 58px;
      border-radius: 10px;
      background-color: #00bee8;
      border: none;
      font-size: 20px;
      color: white;
      letter-spacing: 0.6px;
    }

    img {
      position: absolute;
      right: 0;
      top: 161px;
      width: 113px;
      height: 4px;
    }
  }
}

@media (width < 1920px) {
  .skills .rightside {
    position: absolute;
    right: 0;
    width: 810px;
  }

  .skills .leftside {
    width: inherit;
    position: absolute;
    left: 0;
    width: 50%;
  }

  .skills .leftside .images {
    padding-left: 20%;
  }
}

@media (width <= 1550px) {
  .skills .rightside h1 {
    margin: 0;
    font-size: 87.5px;
  }
  .skills .rightside span {
    width: 57%;
    font-size: 15px;
  }

  .skills .rightside img {
    position: absolute;
    right: 0;
    top: 152px;
    width: 80px;
  }

  .skills .rightside {
    position: absolute;
    right: 0;
    width: 43%;
    width: 689px;
  }
}

@media (width < 1300px) {
  .skills .rightside h1 {
    margin: 0;
    font-size: 80px;
  }

  .skills .rightside {
    width: 51%;
  }

  .skills .rightside img {
    top: 134px;
  }

  .skills .rightside button {
    width: 129px;
    height: 50px;
    font-size: 18px;
    top: 305px;
  }
}

@media (width <= 1024px) {
  .skills {
    flex-direction: column-reverse;
    height: 851px;
    margin-top: 0;
    font-size: 80px;
  }

  .skills .leftside {
    position: inherit;
    width: 100%;
    display: flex;
    justify-content: center;

    .images {
      padding-left: 0;
      width: 59%;
      margin-top: 100px;
    }
  }

  .skills .rightside {
    position: inherit;
    width: 100%;
    height: 47%;
  }

  .skills .leftside .shadowbox {
    z-index: -1;
    position: absolute;
    top: 2vh;
    left: 0;
  }

  .skills .rightside .right-text {
    align-items: end;
    margin-right: 60px;
  }

  .skills .rightside span {
    width: 64%;
    font-size: 18px;
    text-align: end;
  }

  .skills .rightside img {
    width: 50px;
  }
  .skills .rightside button {
    display: none;
  }
}

@media (width <= 650px) {
  .skills {
    height: 909px;
  }
}

@media (width <= 621px) {
  .skills {
    flex-direction: column-reverse;
    margin-top: 0;
    padding-top: 0;
    height: 844px;
  }

  .skills .rightside {
    height: 190px;
  }

  .skills .rightside h1 {
    font-size: 13vw;
  }

  .skills .rightside span {
    font-size: 3vw;
  }

  .skills .leftside .images {
    width: calc(100% - 36px);
  }
}

@media (width <= 500px) {
  .skills {
    height: 736px;
  }
}

@media (width <= 470px) {
  .skills {
    height: 1050px;
  }
  .skills .leftside .images {
    width: calc(65% - 36px);
  }
}
@media (width <= 400px) {
  .skills {
    height: 958px;
  }

  .skills .leftside .images {
    margin-top: 70px;
  }
}


@media (width <= 355px) {
  .skills {
    height: 1823px;
 }
}
@media (width <= 332px) {
  .skills {
    height: 1738px;
 }
}