<div class="skills" id="skills">
  <div class="leftside">
    <div class="images">
      <div class="imagebox" *ngFor="let icon of icons; let i = index">
        <img src="assets/img/icons/{{ icon }}" />
        <span>{{ icons_name[i] }}</span>
      </div>
    </div>
    <div class="shadowbox">
      <img src="assets/img/shadows/shadow-blue.png" />
    </div>
  </div>
  <div class="rightside">
    <div class="text-image">
      <div class="right-text">
        <h1>Meine skills</h1>
        <span
          >Ich habe meine Fähigkeiten in der Frontend-Entwicklung ausgebaut, die
          es mir ermöglicht haben verschiedene reale Projekte zu
          erstellen.</span
        >
      </div>
      <img src="assets/img/icons/stripe4.png" />
    </div>
    <button (click)="toContact()">Get in touch</button>
  </div>
</div>
