app-about-me {
  position: relative;
  display: flex;
  justify-content: center;
  height: 17%;
}

@media (width < 1920px) {
  app-about-me {
    padding-top: 0.5%;
  }
}

@media (width <= 1024px) {
  app-about-me {
    height: 12%;
  }
}
