app-about-me {
  position: relative;
  display: flex;
  justify-content: center;
  height: initial;
}
/* 
app-introduce-myself {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
 */
@media (width <= 1920px) {
  app-about-me {
    padding-top: 0.5%;
  }
}

@media (width <= 1024px) {
  app-about-me {
    height: inherit;
    padding-top: 106px;
  }
}
@media (width <= 650px) {
  app-about-me {
    padding-top: 0px;
  }
}
