@import "/src/fonts/poppins.css";

body {
  display: flex;
  justify-content: center;
  background-color: #141d2f;
  margin: 0;
  font-family: Poppins, sans-serif;
  letter-spacing: 1px;
  color: white;
}

// Scrollbar Blue
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b47ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// Scrollbar Blue END
